@import "../../components/modal/optionDialog";

.calibrate-area-dialog {
    div[layout=row] {
      .material-component + .material-component {
        margin-left: 24px;
      }
    }
  .gap-top {
    margin-top: 12px;
  }

  select-input.sensor-selector {
    min-width: 15em;
  }

  #measure-step {
    div + div {
      margin-left:24px;
    }
    .chart {
      //order: 1;
      border: 1px solid #eee;
      padding:12px 8px 0;
    }
    .control {
      //order:2;
      .md-button {
        margin-left:0;
        margin-right:0;
      }
    }
  }
}
