#device-management-index {

}

.assign-area-dialog {

  area-selector {
    width: 100%;
  }

  md-dialog-content {

    border-top: 1px solid #eee;

    &:first-of-type {
      border-top: none;
    }

    &:not(:last-of-type) {
      padding-bottom: 0;
    }

    & > [layout=row] {
      &.gap-top {
        margin-top: 12px;
      }
    }
  }
}

