parent-area {

  background-color: white;
  .summary {
    padding:16px 32px;
    background-color: rgba(0,0,0,0.1);
    color:rgba(0,0,0,0.5)
  }

  .md-toolbar-tools {
    border-bottom: none;
  }

  .children {
    padding: 16px 16px 16px 16px;
    flex-wrap: wrap;
  }

  .child {
    margin:8px 0;
    padding: 8px 0 8px 16px;
    border: 3px solid rgba(0,0,0,0.05);
    border-radius: 8px;
    //cursor: pointer;
    align-items: baseline;
    &:active {
      outline: none;
    }
    .name {
      font-weight: 500;
      color: rgba(0,0,0,0.6)
    }
    &:first-child {
      margin-top: 0;
    }

    button[command-id=delete-area-command] {
      opacity: 0;
    }

    &:hover {
      button[command-id=delete-area-command] {
        opacity: 1;
      }
    }

  }

}