
#zone-configuration-index {

  $master-detail-gap: 8px;

  .device-table {
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    .md-table {
      min-width: 180px;
    }
  }

  zone-tree table-component .md-table {

    thead {
      th {
        border-bottom:none;
      }
    }
    td.area {
    }

    td.buttons {
      padding-right: 0;

      white-space: nowrap;
      text-align: right;

      > *:not(.never-hide) {
        visibility: hidden;
      }

      button.md-button {
        margin-left: -8px; // knocks out the left padding without buggering the click animation
        margin-right: 0;
      }

    }

    tr:hover, tr.selected {
      td.buttons {
        > * {
          visibility: visible;
        }
      }
    }

    //tr.selected td.buttons {
    //  &::after {
    //    z-index: 15;
    //    content: '';
    //    display: block;
    //    position: absolute;
    //    top: 0;
    //    right: -$master-detail-gap;
    //    width: 0;
    //    height: 0;
    //    border-style: solid;
    //    border-width: 20px 0 20px $master-detail-gap;
    //    border-color: transparent transparent transparent #999999;
    //  }
    //
    //}
  }

  .area-details {
    position: relative;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    //&::before {
    //  display: block;
    //  content: ' ';
    //  position: absolute;
    //  top: 0;
    //  bottom: 0;
    //  width: 10px;
    //  z-index: 10;
    //  left: 0;
    //  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    //}
    //
    //border: $master-detail-gap solid rgba(0, 0, 0, 0.1);
    background-color: white;

    > .main-content-container > .md-toolbar-tools {
      //color: white;
      background-color: #fafafa;
      font-weight: 500;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    empty-state {
      margin-top: 10em;
    }

  }

  device-details {
    margin-top: 18px;

  }
}

div.filter-container {
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.delete-zone-dialog {
  .confirm-delete {
    margin-top: 28px;
  }
}

.add-lights-interactive-dialog {

  .session-expiry {
    > div {
      text-align: center;
      padding: 12px 24px;
      //margin-bottom: 24px;
      background-color: orange;
      color: rgba(255, 255, 255, 0.9);
      //font-weight: 300;
      //border-radius: 8px;
    }
  }

  .search-options {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 24px;
  }

  .instructions {
    text-align: center;
  }
  .progress-wrapper {
    position: relative;
    text-align: center;
    margin: 24px auto;
    .text {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      font-size: 18px;
      font-weight: 100;
      color: #45ccce;
    }
  }

  .buttons {
    margin-top: 12px;
    .md-button {
      &:first-child {
        //margin-right: 24px;
      }
      &:last-child {
        //margin-left: 36px;
      }
    }
  }

}

