.details-table {

  padding: 0;
  border-collapse: collapse;

  md-icon {
    margin-right: 3px;
  }

  tr.header {
    &:not(:first-child) {
      th {
        padding-top: 24px;
      }
    }
    th {
      font-weight: 500;
      padding-bottom: 2px;
    }
  }

  tr.title.header th {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
  }

  tr.inherited {
    th span {
      font-weight: 300;
    }
    td {
      opacity: 0.5;
    }
  }

  $row-height: 28px;
  th, td {
    vertical-align: top;
    text-align: left;
    height: $row-height;
    line-height: $row-height;
    max-height: 0;
  }
  td {
    padding-left: 12px;
  }
  th {
    font-weight: 300;
    white-space: nowrap;
  }
  th, .subtle {
    color: rgba(0, 0, 0, 0.48);
  }

  div.small {
    font-size: 75%;
  }
}


