@import "../../settings/gaps";
@import "../../settings/colors";
@import "../../mixins/shitty_nav";

header {
  $height: 50px;
  background-color: black;
  color: white;
  height: $height;
  padding-left: $defaultGap;
  padding-right: 0;
  .logo {
    img {
      transition: all 150ms;
      height: 24px;
      opacity: 0.6;
    }
    &:hover {
      img {
        opacity: 1;
      }
    }
  }

  la-nav {
    margin-left: 8px;
    @include shitty-nav-menu(10, $height, 240px);
  }

}

