html {
  height: 100%;
}
body {
  height: auto;
  min-height: 100%;
}

[no-overflow] {
  overflow: hidden;
}

[padded] {
  padding: 16px;

  & + [padded] {
    padding-top: 0;
  }
}

[half-padded] {
  padding: 8px;
}