#login {
  //background: url('/frontend/images/login-background.jpeg') center bottom #eee;
  //background-size: cover;
  //background-color: #0a4d85;
  background-color: #65686b;

  .container {
    min-width: 400px;
    //height:400px;
    background-color: white;
  }

  .header {
    height: 100px;
    padding: 36px;
    background: orange; //rgb(33, 150, 243);
    color: white;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.11em;
  }
  .invalid-login {
    font-size: 14px;
    text-align: center;
    padding: 18px;
    background-color: #e2c200;
    color: rgba(255,255,255, 0.9);
  }
  .form {
    padding: 24px 36px 36px 36px;
  }

  md-dialog-actions {
    padding-top: 24px;
    .md-button {
      width: 100%;
      margin: 0;
    }

  }

}