noun {
  padding: 0.2em 0.4em;
  //padding-top: ;
  //padding-bottom: 0.2em;
  margin: 0;
  //font-size: 90%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.entity {
  display: inline-block;
  background-color: rgba(0,0,0,0.06);
  //background-color: rgba(255,255,255,0.3);
  padding: 0.15em 0.3em;
  border-radius: 4px;
}

.md-toolbar-tools {
  span.entity {
    margin-left: 0.35em;
    margin-right: 0.35em;
  }
}

md-toolbar {
  .entity {
    background-color: rgba(0,0,0,0.1);
  }
}

p {
  margin-top: 0;
  margin-bottom: 4px;
}
p + p {
  margin-top: 18px;
}

p + ul, p + ol {
  margin-top: 8px;
  margin-bottom: 16px;
}

ul + p, ol + p {
  margin-top: 18px;
}