device-list {
  background-color: white;

  .filters {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px;
    height: 66px;
    min-height: 66px; // hack to stop it from shrinking when dialogs are displayed.

    div.criteria {
      display: flex;
      flex-direction:row;
      align-items: center;
      margin-right: 28px;
    }

    // make it last...
    div.criteria.text-search {
      order: 100;
      margin-right: 0;
    }

    label {
      margin-right: 8px;
      margin-bottom: 0;
    }
  }

  table {
    width: 100%;
    tr {
      td.area {
        min-width: 15em;
      }
      td {
        cursor: default;
        md-icon[disabled] {
          opacity: 0.3;
        }
      }
    }

  }
}
