la-day-cell {

  position: absolute;
  top:0;bottom:0;left:0;right:0;
  display: flex;
  flex-direction: column;

  .md-button.md-icon-button {
    width:36px;
    height:36px;
    line-height: 36px;
    margin:0;
  }

  md-icon {
    font-size:18px !important;
    &[md-svg-icon="app:calendar-marked"] {
      width:12px;
      margin-bottom:2px;
    }
    &[md-svg-icon="app:stack"] {
      width:16px;
      margin-bottom:2px;
    }
  }

  .day-type-container, .day-override-container {
    .title {
      font-size:14px;
      md-icon {
        margin-right: 6px;
        margin-left: 0;
        opacity: 0.3;
      }
    }

    .buttons {
      position: absolute;
      padding: 0;
      cursor: pointer;
      transition: all 100ms;
      font-size: 10px;
      z-index: 1;

      &:hover {
        .show-on-hover {
          opacity: 1;
        }
      }

      .md-button.md-icon-button {
        padding:0;
      }

    }
    .show-on-hover {
      opacity: 0.5;
    }

    &:not(:hover) {
      .show-on-hover {
        opacity: 0;
      }
    }
  }

  .day-override-container {
    $circle-diameter: 17px;
    $border-width: 2px;
    height:40px;
    position:relative;
    border-bottom: $border-width solid #eee;

    .buttons {
      top: 0;
      right: 0;
    }

    .title {
      padding: 8px;
      z-index:1; // keeps me above the background border circle.

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      //.mutlitple-indicator {
      //  position: absolute;
      //  top:0;
      //  bottom:0;
      //  left:0;
      //  right:0;
      //}

      // the colored circle that contains the plus.
      &::after {
        position: absolute;
        left: 50%;
        bottom:0;
        margin-left: -$circle-diameter/2;
        margin-bottom: -($circle-diameter + $border-width)/2 + 2px;
        width: $circle-diameter;
        height: $circle-diameter;
        line-height: $circle-diameter;
        text-align: center;
        font-weight: 500;
        border-radius: 50%;
        background-color: inherit;
        color: rgba(0,0,0,0.35);
        opacity: 1;
        content:'+';
        z-index:4;
      }
    }

    // the background circle (that renders the border)
    &::before {
      $diameter: $circle-diameter + 2 * $border-width;
      position: absolute;
      left: 50%;
      bottom:0;
      margin-left: -$diameter/2;
      margin-bottom: -($diameter + $border-width)/2 + 2px;
      width: $diameter;
      height: $diameter;
      background-color: #eee;
      content:'';
      border-radius: 50%;
      z-index:1;
    }
  }

  .day-type-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
    flex: 1;
    position:relative;

    .buttons {
      bottom: 0;
      right: 0;
    }

    .stacked {
      position: absolute;
      top:0;
      right:0;
      width:16px;
      padding:4px 6px;
      md-icon {
        opacity: 0.2;
      }
    }

  }

}
