@import "./stripes";

.day-type-editor-dialog-stack, .day-override-editor-dialog-stack {
  max-width: 800px;

  la-time-slot-editor {
    margin-top: 36px;
  }

  .legend {
    //background-color: #eee;
    border: 1px solid #eee;
    border-radius:4px;
    padding:8px;
    $height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: rgba(0,0,0,0.8);
    font-weight: 100;
    > span {
      margin-left: 6px;
    }
    &:before {
      content: ' ';
      display: inline-block;
      width: 22px;
      height:22px;
      background-color: #FCFCFC;
      //@include stripes(rgba(0,0,0,0.05), 6px, 1px);
      border: 1px solid #E0E0E0;
    }
  }

  .default-scene-watermark {
    opacity: 0.4;
  }

}
