@import "../animation-mixins";
@import "../../components/modal/optionDialog";

.recurrence-rules-dialog {
  @extend .option-dialog;
}

.custom-repeat-dialog {
  .input-container {
    margin-top: 20px;
    height: 30px; // required for animation.
    align-items: baseline;
    > *, md-radio-button {
      margin: 0 12px 0 0;
    }

    &.with-select {
      align-items: flex-end;
      padding-top: 16px;
    }

    &.subtle {
      color: rgba(0, 0, 0, 0.4);
    }

    md-radio-button {
      display: inline;
    }

    &.interval input {
      width: 2em;
    }
  }
}

.confirm-replace-dialog {
  @extend .option-dialog;
}