#zone-schedule-index {

  // lower the right sidebar down to the calendar level.
  background-color: white;

  .right-sidebar-container {
    margin-top: 48px;
    border-left: none;
  }

  .toolbar {
    position: relative;
    padding: 0 16px;
    background-color: white;
    .view-mode {
      md-tabs {
        min-width: 200px
      }
    }
    md-progress-linear {
      position:absolute;
      left:0;right:0;
      bottom:0;
    }
  }

  .day-types, .day-overrides {
    padding: 16px 16px 0px 16px;
  }

  .default-scene-watermark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
    flex: 1;
    position: relative;
    font-size: 12px;
    opacity: 0.95;
    font-weight: 100;
    span {
      padding: 1px 0;
    }
    .title {
      font-weight: 300;
    }
  }



  la-time-slot-container-chip {
    $height: 36px;
    margin: 0 8px 8px 0;
    display: inline-block;
    border-radius: $height/2;

    > div {
      background-color: rgba(0, 0, 255, 0.2);
      //display: inline-block;
      cursor: move;
      padding-left: 16px;
      padding-right: 0px;
      height: $height;
      max-height: $height;
      line-height: $height;
      border-radius: $height/2;
    }

    .title {
      //color: rgba(255,255,255, 0.95);
      color: rgba(0, 0, 0, 0.7);
    }

    md-menu {
      margin: 0;
      padding:0;
      height: $height;
    }

    button {
      display: inline-block;
      cursor: pointer;
      margin: 0;
      padding: 0;
      //md-icon { margin-left: 0; }
      height: $height;
      max-height: $height;
      line-height: $height;
      width: $height;
      .md-ripple-container {
        height: $height;
      }
      text-align: center;
    }
  }

  la-month-view {
    $bg-color: #eee;

    background-color: $bg-color;
    border-right: 1px solid #e9e9e9;
    padding: 0 2px 2px 2px;

    .week {

      &.first {
        .day {
          margin-top: 0;
        }
      }

      .day {
        position: relative;
        border: 2px solid #eee;
        outline-style: none;
        &.today {
          border-color: #9190ec;
        }
        background-color: white;

        font-weight: 100;

        .drop-sheet {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 100;
          display: none;
          background-color: transparent;
          border: 2px solid transparent;
          //border-radius: 3px;
          color: rgba(0, 0, 0, 0.1);
          align-items: center;
          justify-content: center;
          flex-direction: row;
          font-size: 200%;
        }

        &.on-drag-enter {
          .drop-sheet {
            display: flex;
            //background-color: rgba(200, 210, 200, 0.2);
            border: 2px dotted rgba(0, 0, 0, 0.2);
          }
        }
        &.on-drag-hover {
          .drop-sheet {
            display: flex;
            background-color: rgba(0, 0, 0, 0.4);
            border: 2px solid rgba(0, 0, 0, 0.4);
          }
        }

        .day-of-month-label {
          position: absolute;
          left: 0;
          top: 0;
          padding: 11px 8px;
          z-index:10;
        }

        //&:not(.current) {
        //  la-day-view {
        //    .day-template-name {
        //      color: rgba(0, 0, 0, 0.3);
        //    }
        //  }
        //}
        //
        //&.in-past {
        //  opacity: 0.5;
        //  la-day-view {
        //    .delete-link, .edit-link, .pin {
        //      display: none;
        //    }
        //  }
        //}

      }
    }

    la-template-view {

      &:hover la-mini-time-slot-view {
        transition: all 800ms;
        opacity: 0.6;
      }

    }

    la-mini-time-slot-view {
      opacity: 0;
      transition: all 400ms;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 2px;
      display: flex;
      flex-direction: column;

      .row {
        position: relative;
        flex-basis: 0;
        flex-shrink: 1;
        flex-grow: 1;
      }

      .time-slot {
        position: absolute;
        top: 0;
        bottom: 0;

        border: 1px solid transparent;
        border-radius: 6px;

        &.starts-before {
          .slot-content {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }

        &.ends-after {
          .slot-content {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        .slot-content {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.1);
          border-radius: 6px;
        }
      }

    }

  }
}



