@import "./stripes";

la-time-slot-editor {
  // can't put a border on teh time block container as
  // it buggers the mouse tracking.
  .time-block-container-wrapper {
    border: 1px solid #eee;
    //margin-bottom: 1px;
  }

  &:focus {
    .time-block-container-wrapper {
      //border-bottom: 2px solid rgb(33, 150, 243);
      //margin-bottom: 0px;
    }
  }
  &.input-invalid {
    .time-block-container-wrapper {
      //border-bottom: 2px solid red;
      //margin-bottom: 0px;
    }
  }

  label .hint {
    opacity: 0.6;
  }
  &:focus {
    label .hint {
      opacity: 1;
    }
  }
}

//md-input-container {
//  display: block;
//  &.md-input-invalid {
//    la-time-slot-editor {
//      border-bottom: 1px solid red;
//    }
//  }
//}


la-time-block {

  .ruler {
    background-color: #eee;
    position: relative;
    height: 28px;

    .labels, .ticks {
      position:absolute;
      left:0;right:0;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      color: #999;
    }

    .label, .tick {
      flex: 1;
      flex-basis: 0;
      cursor: default;
    }

    .labels {
      top:0;
      bottom: 2px;
      font-size: 12px;
    }

    .label {
      text-align: center;
      height: 18px;

      &:first-child {
        flex: 0.5;
        text-align: left;
        .label-text {
          margin-left: 6px;
        }
      }

      &:last-child {
        flex: 0.5;
        text-align: right;
        .label-text {
          margin-right: 6px;
        }

      }

    }

    $end-tick: 11px;
    $tall-tick: 5px;
    $tick-color: #aaa;
    $tall-tick-color: #ccc;

    .ticks {
      height: $end-tick;
      bottom:0;
      border-left: 1px solid $tall-tick-color;
      border-right: 1px solid $tall-tick-color;
      border-bottom: 1px solid #ddd;
    }

    .tick {
      height: 2px;
      border-left: 1px solid $tick-color;
      &:nth-child(6n+1) {
        height: $tall-tick;
        border-color: $tick-color;
      }
      &:first-child{
        border-left: none;
      }
    }

  }

  .slots {
    background: #FCFCFC;
    //@include stripes();
    position: relative;
    min-height: 50px;
    height: 70px;
    cursor: crosshair;
  }

  .water-mark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
    flex: 1;
    position: relative;
    font-size: 12px;
    opacity: 0.75;
    font-weight: 100;
  }


  .time-slot {
    $border-radius: 6px;
    position: absolute;

    top: 0;
    bottom: 0;

    border-radius: $border-radius;

    color: rgba(255, 255, 255, 0.9);

    .content {
      overflow: hidden;
      cursor: pointer;
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      padding:2px;

      div {
        white-space: nowrap;
        max-width: 100%;
        font-weight: 500;
        &.scene-name {
          font-size: 14px;
        }
        &.times {
          margin-top: 4px;
          font-size: 12px;
          overflow: hidden;
        }
      }
    }

    // hovering the slot, note we manually apply the hover state is it can
    // span multiple slots and is controlled by our editor.
    &.hover {
      .handle {
        opacity: 0.5;
      }
    }
    &.resize-start {
      .handle.start {
        opacity:1;
      }
      .handle.end{
        opacity:0.5;
      }
    }
    &.resize-end {
      .handle.start {
        opacity:0.5;
      }
      .handle.end {
        opacity:1;
      }
    }

    .handle {
      opacity: 0;
      width: 8px;
      max-width: 50%;
      transition: opacity 100ms;
      cursor: move;
      position: absolute;
      top:0;
      bottom:0;
      z-index: 1;
      &:hover {
        opacity: 1;
      }

      &.start {
        left:0;
        border-radius: ($border-radius - 2) 0 0 ($border-radius - 2);
      }
      &.end {
        right:0;
        border-radius: 0 ($border-radius - 2) ($border-radius - 2) 0;
      }
    }

    &.selected {
      border: 2px solid;
    }

    // this slot is a continuation so we don't show
    // the normal start handle
    &.starts-before {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      .start.handle {
        display: none;
      }
      &.selected {
        border-left: none;
        .content {
          left: 2px;
        }
      }
    }

    // this slot continues after this row so we don't show
    // the normal end handle
    &.ends-after {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      .end.handle {
        display: none;
      }
      &.selected {
        border-right: none;
        .content {
          right: 2px;
        }

      }
    }

    // hack: need to put the text/bg/border colors all in the one place.
    &.new {
      border: 1px dashed #ddd;
      color: rgba(0, 0, 0, 0.4);
    }
  }

}