la-nav-breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ol.breadcrumbs {
  overflow: hidden;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 1px 8px;
  background-color: #eee;
  border-radius: 3px;

  li {
    font-size: 13px;
    line-height: 100%;
    white-space: nowrap;
    margin-bottom: 0;
    text-align: left;

    flex-grow: 0;
    flex-shrink: 1;

    overflow: hidden;
    text-overflow: ellipsis;

    // prevent the first and last entry from shrinking and having ellipsis
    &:first-child, &:last-child {
      overflow: visible;
      flex-shrink: 0;
    }

    // last fills the space..
    &:last-child{
      flex-grow: 1;
    }

    & + li:before {
      padding: 0 0 0 8px;
      color: #ccc;
      content: "/\00a0";
    }

    span {
      display: inline-block;
      line-height: 100%;
      height: 28px;
    }

    a {
      display: inline-block;
      height: 28px;
      line-height: 100%;

      &:link, &:visited {
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline;
      }
      &:hover:before {
        text-decoration: none;
      }
    }

  }
}