horizontal-scroll-container {
  display:flex;
  flex-direction: row;
  position: relative;
  min-width: 0;
  min-height: 100%;

  &::before, &::after {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15px;
    z-index: 10;
    opacity: 0;
  }

  &::before {
    left: -1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  }
  &::after {
    right: -1px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  }

  &.scroll-left::before {
    opacity: 1;
    transition: opacity 50ms;
  }
  &.scroll-right::after {
    opacity: 1;
    transition: opacity 50ms;
  }

  > .scroll-container-inner {
    flex-grow: 0;
    flex-shrink: 1;

    overflow-x: scroll;
    overflow-y: visible;
    min-height: 100%;
  }
}


vertical-scroll-container {

  display:flex;
  flex-direction: column;
  position: relative;
  min-height: 0;

  &::before, &::after {
    display: block;
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
    z-index: 10;
    opacity: 0;
  }

  &::before {
    top: -1px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  }

  &::after {
    bottom: -1px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  }

  &.scroll-top::before {
    opacity: 1;
    transition: opacity 50ms;
  }
  &.scroll-bottom::after {
    opacity: 1;
    transition: opacity 50ms;
  }

  > .scroll-container-inner {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: visible;
    overflow-y: scroll;
  }
}