@import "zone/areaTreeMixin";

zone-tree {
  background-color: white;
  $row-height: 40px;
  display: flex;
  flex-direction:column;

  table-component {
    flex: 1;
  }

  // table is needed to bump the specificity of the td:last-child selector below.
  table.md-table {

    min-width: 180px;

    thead {
      th {
        text-align: left;
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    tr {
      td, th {
        outline: none;
        padding-top: 0;
        padding-bottom: 0;
      }

      th {
        height: 48px;
      }

      td {
        height: $row-height;
        cursor: pointer;
        white-space: nowrap;
      }

      td.area {
        > div {
          height: $row-height;
        }
        tree-icons {
          height: $row-height;
        }
        &.root, &.parent {
          font-weight: 500;
        }
      }

    }
  }
}