.la-chart-title {

  .name {
    font-size: 20px;
    margin-bottom: 4px;
  }

  .location {
    font-size: 12px;
    color: #777;
    height: 12px;
    opacity: 1;

    -webkit-transition: all linear 0.15s;
    transition: all linear 0.15s;

    &.ng-hide {
      height: 0;
      opacity: 0;
    }
  }

  .date-range {
    margin-top: 8px;
    font-size: 14px;
    color: #888;
    b {
      //display: inline-block;
      //font-weight: 500;
      font-weight: normal;
      color: #444;
      //border-radius: 10px;
      //background-color: #ededed;
      //padding: 3px 8px;
    }
  }
}
